<section class="PageSize" id="about">
    <div id="imageArea">
        <img src="img/clearBackgroundPotriat.png" alt="">
    </div>
    <div id="dotArea">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <div id="contentArea">
        <div class="contentBlock">
            <section class="flexColoum">
                <h1 class="number">01</h1>
                <h4 class="title">HI! I'm <b> Hammad</b></h4>
                <p id="introParagraph"> a 4th semester student at the University of Engineering and Technology, Lahore. I have a strong background in both desktop and web development. I am a dedicated and hard-working individual who prioritizes my work over personal life. I am always eager to learn new technologies and take on new challenges. I am confident that my skills and experience make me well-suited for a wide range of projects, and I look forward to the opportunity to put them to use in a professional setting.</p>
                <ul class="flexRow" id="contentBlockButtons">
                    <li><a href="#Service">My Work</a></li>
                    <li><a href="#contact">Hire Me</a></li>
                </ul>
            </section>
        </div>
        <!-- <div class="contentBlock">
            <section class="flexColoum">
                <h1 class="number">02</h1>
                <h4>A</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe fugiat modi molestias perspiciatis
                    ullam labore, eius mollitia repellendus veniam quae sapiente voluptatum consectetur voluptas minus
                    aperiam quas, porro harum temporibus!</p>
            </section>
        </div>
        <div class="contentBlock">
            <section class="flexColoum">
                <h1 class="number">03</h1>
                <h4>A</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe fugiat modi molestias perspiciatis
                    ullam labore, eius mollitia repellendus veniam quae sapiente voluptatum consectetur voluptas minus
                    aperiam quas, porro harum temporibus!</p>
            </section> -->
        </div>
    </div>
</section>