<section class="PageSize" id="contact">
    <div class="messageBox header">
        <span>What I DO</span>
    </div>
    <h1>Get <b>In Contact</b></h1>
    <hr class="headingHr">
    <div id="contactGrid">
        <div class="contactblock" id="contactInfo">
            <div>
                <i class="fa-solid fa-envelope"></i>
                <h2>Contact By Email</h2>
                <p>Mail1:<a href="hammadasgharm@gmail.com">hammadasgharm@gmail.com</a> </p>
            </div>
            <div id="centerItem">
                <i class="fa-solid fa-phone"></i>
                <h2>Contact by Phone</h2>
                <p>Phone 1: +92 306 4889750</p>
                <p>Phone 2: +92 319 4289120</p>
            </div>
            <div>
                <i class="fa-solid fa-house"></i>
                <h2>Looking For Address</h2>
                <p>Address: H # 146-A JamilaAbad<br> butt main road ,LHR</p>
            </div>
        </div>
        <div  >
            <form action="/Portfolio/message" method="post" class="contactblock" id="inputInfo">
                <input type="text" name="name" id="name"placeHolder="Name">
                <input type="phone" name="phoneNo" id="phoneNo"placeHolder="Phone #">
                <input type="email" name="emailID" id="email"placeHolder="Email">
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    
</section>