<section class="PageSize" id="exprience">
        <div class="messageBox header">
            <span>WHAT I DID</span>
        </div>
    <h1>Exprience</h1>
    <hr id="headingHr">
    <div id="experienceTimeline">
        <div id="yearList">
            <div>2016</div>
            <div>2016</div>
            <!-- <div>2016</div>
            <div>2016</div> -->
        </div>
        <div id="exprienceList">
            <ul>
                <li>
                    <div class="ExprienceBlock">
                        <h1>Medjzone</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, odio. Nesciunt ea
                            laboriosam
                            iste necessitatibus architecto, totam facere eligendi. Sunt.</p>
                    </div>
                </li>
                <li>
                    <div class="ExprienceBlock">
                        <h1>Ideal Pharmacy</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, odio. Nesciunt ea
                            laboriosam
                            iste necessitatibus architecto, totam facere eligendi. Sunt.</p>
                    </div>
                </li>
                <!-- <li>
                    <div class="ExprienceBlock">
                        <h1>Company Name</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, odio. Nesciunt ea
                            laboriosam
                            iste necessitatibus architecto, totam facere eligendi. Sunt.</p>
                    </div>
                </li>
                <li>
                    <div class="ExprienceBlock">
                        <h1>Company Name</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, odio. Nesciunt ea
                            laboriosam
                            iste necessitatibus architecto, totam facere eligendi. Sunt.</p>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</section>