<section id="footer">
    <p>© 2022 Preface . All rights reserved | Design by Muhamamd Hamamd Asghar</p>
    <div id='links'>
        <a href="https://twitter.com/Muhamma06793944" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.facebook.com/muhammad.hammadasghar.33"target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://github.com/Muhammad-Hammad-Asghar-56?tab=repositories"target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/m-h-asghar/"target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</section>
<script type="text/javascript" src="Scripts/vanilla_tilt.js"></script> 
</body>
</html>