<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My resume</title>
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/homeStyle.css">
  <link rel="stylesheet" href="css/exprienceStyle.css">
  <link rel="stylesheet" href="css/aboutStyle.css">
  <link rel="stylesheet" href="css/serviceStyle.css">
  <link rel="stylesheet" href="css/exprienceStyle.css">
  <link rel="stylesheet" href="css/contactStyle.css">
  <link rel="stylesheet" href="css/skillsStyle.css">
  <link rel="stylesheet" href="css/footerStyle.css">
  <!-- <script src="Scripts/vanilla_tilt.js"></script> -->
  <!-- <link rel="stylesheet" href="webfonts/"> -->
</head>
<!-- D:\HTML CSS JS  (Code With Hery)\11. Authentication and Security\Secrets - Starting Code\public -->
<body>
