<section class="PageSize home" id="home">
    <nav >
        <ul>
            <li class="sec"><a href="#home" > HOME</a></li>
            <li class="sec"><a href="#about" > ABOUT</a></li>
            <li class="sec"><a href="#contact" > CONTACT</a></li>
            <li class="sec"><a href="#exprience" > EXPRIENCE</a></li>
            <li class="sec"><a href="#Service" > SERVICES</a></li>
            <li class="sec"><a href="#Skills"> SKILLS</a></li>
            <li class="sec" id="resumeDownload"><a href="/resumeDownload/">Download Resume PDF</a></li>
            <!-- <li class="sec"><a href="" > PORTFOLIO</a></li> -->
        </ul>
    </nav>

    <div id="homeDetails">
        <div class="homedetailsBody">
            <!-- <i class="fa-duotone fa-hand-wave"></i> -->
            <i class="fa-solid fa-hand"><span>HI !</span></i>
            <h3>Developer & Programmer</h3>
            <hr>
            <div id="personalDetails" class="nonListStyle">
                <div>
                    <ul class="flexRow">
                        <li><i class="fa-sharp fa-solid fa-person"></i></li>
                        <li><b>Name</b></li>
                    </ul>
                    <ul class="flexRow">
                        <li><i class="fa-solid fa-calendar-days"></i></li>
                        <li><b>D.O.B</b></li>
                    </ul>
                    <ul class="flexRow">
                        <li><i class="fa-solid fa-phone"></i></li>
                        <li><b>Phone</b></li>
                    </ul>
                    <ul class="flexRow">
                        <li><i class="fa-sharp fa-solid fa-house"></i></li>
                        <li><b>Address</b></li>
                    </ul>
                    <ul class="flexRow">
                        <li><i class="fa-solid fa-envelope"></i></li>
                        <li><b>Email</b></li>
                    </ul>
                    <ul class="flexRow">
                        <li><i class="fa-brands fa-chrome"></i></li>
                        <li><b>Website</b></li>
                    </ul>
                </div>
                <div>
                    <ul class="flexColoum">
                        <li>Muhamamd Hammad Asghar</li>
                        <li class=".info">23 / May - 2004</li>
                        <li class=".info">+92 306-4889750</li>
                        <li class=".info">Lahore</li>
                        <li class=".info">hammadasgharm@gmail.com</li>
                        <li>myresume.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="homedetailsBody">
            <img src="img/Wedding.png" alt="" srcset="">
        </div>
    </div>
</section>