<section class="PageSize" id="Service">
    <div class="messageBox header">
        <span>What I DO</span>
    </div>
    <h1>Service</h1>
    <hr id="headingHr">
    <div id="serviceGrid">
        <div class="serviceBlocks your-element" data-tilt>
            <h2>WEB Devlopment</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia
                asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur
                perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
        <div class="serviceBlocks  your-element" data-tilt>
            <h2>Desktop Application</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia
                asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur
                perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
        <div class="serviceBlocks  your-element" data-tilt>
            <h2>2D Game Develpment</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia
                asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur
                perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
        <div class="serviceBlocks  your-element" data-tilt>
            <h2>Scrapping</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
        <div class="serviceBlocks  your-element" data-tilt>
            <h2>GoogleADs</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
        <div class="serviceBlocks  your-element" data-tilt>
            <h2>Poblem / Bug Resolving</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis aliquam saepe consectetur officia
                asperiores impedit distinctio corrupti itaque? Explicabo ea perspiciatis fugit dolore consectetur
                perferendis molestiae aspernatur aperiam voluptatibus inventore?</p>
        </div>
    </div>
</section>