#contact {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    /* background-image: url("/img/getInTouch.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    ba*/
}

.messageBox+h1 {
    font-weight: lighter;
    color: black;
    font-size: 30px;
}
#contact hr{
    width: 50%;
    margin-top: 20px;
    background-color: rgb(73, 66, 66);
    border: none;
    height: 1px;
}
#contact:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-image: url('/img/getInTouch.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
}
#contactGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
/* .contactblock{
    padding: 100px 50px;
} */
#contactInfo{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
#contactInfo div{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
#contactInfo #centerItem{
    border-top:1px solid rgb(194, 182, 182) ;
    border-bottom:1px solid rgb(194, 182, 182);
    padding: 20px 0px;
}
.contactblock{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    padding: 21px 43px;
    margin: 30px 0px;
}
#inputInfo {
    justify-content: center;
}
input{
    height: 40px;

}
input,textarea{
  width: 400px;   
  margin:20px 10px ;
  border:2.5px solid#00a78e;
  border-radius: 5%;
  padding: 5px 10px;
}
textarea{
    resize: none;
}
button{
    padding: 10px 20px;
    background-color: #00a78e;
    border: 1px solid rgb(196, 187, 187);
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#contactInfo p{
    opacity: 0.6;
    margin: 5px 5px;
    font-size: 16px;
}
#contactInfo p a{
    color: #00a78e;
    text-decoration: none;
}



@media screen and (max-width: 768px) {
    /* CSS for devices with a maximum width of 768px or less */
    /* Adjust styles as needed */
  
    #imageArea {
      text-align: center;
      margin-bottom: 20px;
    }
  
    #contentArea .contentBlock {
      padding: 0 20px;
    }
  
    #contentArea .contentBlock h1.number {
      font-size: 36px;
    }
  
    #contentArea .contentBlock h4.title {
      font-size: 24px;
    }
  
    #introParagraph,
    #contentBlockButtons {
      text-align: center;
    }
  
    #contentBlockButtons li {
      margin: 10px 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* CSS for devices with a maximum width of 480px or less */
    /* Adjust styles as needed */
  
    #contentArea .contentBlock h1.number {
      font-size: 28px;
    }
  
    #contentArea .contentBlock h4.title {
      font-size: 20px;
    }
  
    #introParagraph,
    #contentBlockButtons {
      text-align: center;
    }
  
    #contentBlockButtons li {
      margin: 5px 0;
    }
  
    input,
    textarea {
      width: 100%;
      margin: 10px 0;
    }
  }
  