#footer{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer i{
    color: white;
    padding: 10px;
}
#footer i:hover{
    color: #00a78e;
}
#links{
    margin-top: 1rem;
}



@media screen and (max-width: 768px) {
    /* CSS for devices with a maximum width of 768px or less */
    /* Adjust styles as needed */
  
    #footer {
      padding: 30px;
    }
  
    #footer p {
      font-size: 12px;
    }
  
    #links {
      margin-top: 0.5rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* CSS for devices with a maximum width of 480px or less */
    /* Adjust styles as needed */
  
    #footer {
      padding: 20px;
    }
  
    #footer p {
      font-size: 10px;
    }
  
    #links {
      margin-top: 0.3rem;
    }
  }
  